h2 {
    margin: 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clockSpace {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numSpace {
    background-color: #4B75FF;
    height: 10rem;
    width: 10rem;
    margin: 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: #e5f0e5;
}


.colon {
    font-size: 5rem;
}
