body {
    margin: 0;
}

.navbar {
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100vw;
    padding: 1.5rem 3rem;
    box-sizing: border-box;

}

.smallLinks {
    display: flex;
    gap: 5rem;
}

.smallLinks:first-child {
    justify-content: flex-end;
    margin-right: 5rem;
}

.smallLinks:last-child {
    justify-content: flex-start;
    margin-left: 5rem;
}

.navIcon {
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-family: cursive;
    font-size: 2rem;
    text-align: center;
}

.navIcon:hover {
    cursor: pointer;
    color: #FF94DB;
    text-decoration: underline;
    transform: translateY(-5px);
}


.navIcon.largeTitle {
    font-size: 5rem;
    white-space: nowrap;
}