.navIcon {
    margin: 2rem;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-family: cursive;
    font-size: 2rem;
}

.navIcon:hover {
    cursor: pointer;
    color: pink;
}


.navbar {
    position: sticky;
}